flows_mfeeny-it.json
[{"id":"817fc902.52e95","type":"tab","label":"Process hunt request","disabled":false,"info":""},{"id":"4d55fd22.159684","type":"tab","label":"Get data from customer number","disabled":false,"info":""},{"id":"62a5374.81295c8","type":"tab","label":"get data from loan number","disabled":false,"info":""},{"id":"21e11721.9d8a5","type":"MySQLdatabase","z":"","host":"LocalHost","port":"3306","db":"datateam","tz":""},{"id":"835a7076.ebb87","type":"oracle-server","z":"","host":"far01-bduat01.axcess-financial.com","port":"1521","reconnect":false,"reconnecttimeout":"9999999000000","db":"starsuat"},{"id":"8fc9ae59.206138","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9f93c5a2.45e5","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Hunt_mike_DB","x":540,"y":260,"wires":[["fa5a4f8c.d133d8"]]},{"id":"15d26b72.a5d6bd","type":"function","z":"817fc902.52e95","name":"Get open Hunt requests","func":"msg.topic = \"    select r.id hunt_id \"    +\n            \"           , r.ssn \"         +\n            \"           , r.email \"       + \n            \"           , r.first_name \"  +\n            \"           , r.last_name  \"  +\n            \"           , r.bo_code    \"  + \n            \"           , r.loan_id    \"  +\n            \"           , q.db_id      \"  + \n            \"           , q.query_loc   \" + \n            \"           , q.db_connect  \" +        \n            \"        from datateam.hunt_kill_request r  \"    +\n            \"  inner join datateam.hunt_kill_query q    \"    + \n            \"               on r.db_id = q.db_id \"  +\n            \"            where r.result is null  \"  +  \n            \"            order by r.id ; \" \nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["9f93c5a2.45e5"]]},{"id":"4753f616.8737c8","type":"inject","z":"817fc902.52e95","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":140,"y":60,"wires":[["b8df312.d5669d"]]},{"id":"fa5a4f8c.d133d8","type":"change","z":"817fc902.52e95","name":"Load_selection_variables","rules":[{"t":"set","p":"hunt_id","pt":"global","to":"payload[0].hunt_id","tot":"msg"},{"t":"set","p":"ssn","pt":"global","to":"payload[0].ssn","tot":"msg"},{"t":"set","p":"email","pt":"global","to":"payload[0].email","tot":"msg"},{"t":"set","p":"first_name","pt":"global","to":"payload[0].first_name","tot":"msg"},{"t":"set","p":"last_name","pt":"global","to":"payload[0].last_name","tot":"msg"},{"t":"set","p":"bo_code","pt":"global","to":"payload[0].bo_code","tot":"msg"},{"t":"set","p":"loan_id","pt":"global","to":"payload[0].loan_id","tot":"msg"},{"t":"set","p":"db_id","pt":"global","to":"payload[0].db_id","tot":"msg"},{"t":"set","p":"query_loc","pt":"global","to":"payload[0].query_loc","tot":"msg"},{"t":"set","p":"db_connect","pt":"global","to":"payload[0].db_connect","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":260,"wires":[["775c8775.d4ebe"]]},{"id":"c9e1e0a7.3a4dc","type":"function","z":"817fc902.52e95","name":"Set filename to get sql","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\\" + global.get(\"query_loc\"));\nmsg.filename = global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":460,"wires":[["9a656aac.d92b1"]]},{"id":"9a656aac.d92b1","type":"file in","z":"817fc902.52e95","name":"read query","filename":"","format":"utf8","chunk":false,"sendError":true,"x":470,"y":460,"wires":[["1e6d5aaa.ce410d"]]},{"id":"1e6d5aaa.ce410d","type":"string","z":"817fc902.52e95","name":"String_Substitute","methods":[{"name":"replaceAll","params":[{"type":"str","value":"$loanid"},{"type":"global","value":"loan_id"}]},{"name":"replaceAll","params":[{"type":"str","value":"$ssn"},{"type":"global","value":"ssn"}]},{"name":"replaceAll","params":[{"type":"str","value":"$bocode"},{"type":"global","value":"bo_code"}]},{"name":"replaceAll","params":[{"type":"str","value":"$firstname"},{"type":"global","value":"first_name"}]},{"name":"replaceAll","params":[{"type":"str","value":"$lastname"},{"type":"global","value":"last_name"}]},{"name":"replaceAll","params":[{"type":"str","value":"$email"},{"type":"global","value":"email"}]}],"prop":"payload","propout":"query","object":"msg","objectout":"global","x":780,"y":460,"wires":[["87e54f14.0835e"]]},{"id":"87e54f14.0835e","type":"function","z":"817fc902.52e95","name":"load Query","func":"msg.query = global.get(\"query\")\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":560,"wires":[["c7c70501.228f58"]]},{"id":"cf5e87dd.98f0e8","type":"catch","z":"817fc902.52e95","name":"Error","scope":null,"x":110,"y":20,"wires":[["e09738b8.6085f8"]]},{"id":"e09738b8.6085f8","type":"debug","z":"817fc902.52e95","name":"Dump","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":330,"y":20,"wires":[]},{"id":"e5f97dae.693ee","type":"comment","z":"817fc902.52e95","name":"Read open hunt request","info":"Go to MYSQL and read athe first open hunt request.\nResult = Done","x":1220,"y":260,"wires":[]},{"id":"6270b682.824d08","type":"comment","z":"817fc902.52e95","name":"Get the Hunt Query using the flat file in the home directory","info":"Get the proper hunt query and substitute the correct global variables into the query parameters.","x":690,"y":380,"wires":[]},{"id":"63f27746.e72ef","type":"comment","z":"817fc902.52e95","name":"Write out new hunt query with substituted variables.","info":"Write out new hunt query with substituted variables.\nThis is purely for debugging purposes.  ","x":550,"y":680,"wires":[]},{"id":"43bef63d.ea4e5","type":"comment","z":"817fc902.52e95","name":"Execute the Oracle Hunt Query","info":"","x":540,"y":520,"wires":[]},{"id":"df16d8ba.9c2c7","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"save the intermediate results to Robot hunt_kill_temp","x":1010,"y":720,"wires":[["395aff9c.f03a"]]},{"id":"b9a2817c.ed67c","type":"function","z":"817fc902.52e95","name":"Build the insert statement","func":"msg.topic = \"insert into hunt_kill_temp \" +\n\" ( Code, Id_Field,Name,Table_Name,System,Match_Col, hunt_id) \" +\n\"Values('\" + msg.payload.CODE +\n \"', '\" + msg.payload.ID_FIELD +\n \"', '\" + msg.payload.NAME   +\n \"', '\" + msg.payload.TABLE_NAME +\n \"', '\" + msg.payload.SYSTEM + \n \"', '\" + msg.payload.MATCH_COL +\n \"', '\" + global.get(\"hunt_id\") + \"');\";\n return msg;\n","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["df16d8ba.9c2c7"]]},{"id":"84d7d4ca.af09b","type":"split","z":"817fc902.52e95","name":"split: send each row","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":180,"y":720,"wires":[["6175756c.1620fc"]]},{"id":"dea601a.307158","type":"comment","z":"817fc902.52e95","name":"Save the intermediate results","info":"","x":980,"y":680,"wires":[]},{"id":"b950fa86.185b88","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Hunting\"","x":580,"y":340,"wires":[["c9e1e0a7.3a4dc"]]},{"id":"775c8775.d4ebe","type":"function","z":"817fc902.52e95","name":"build query to set status = hunting","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Hunting'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":340,"wires":[["b950fa86.185b88"]]},{"id":"7aa6bedb.d975a8","type":"function","z":"817fc902.52e95","name":"Build SQL to coalate temp rows into single requests","func":"msg.topic = \" select system                             \" +\n            \"      , code                               \" +\n            \"      , id_field                           \" +\n            \"      , match_column_name                  \" +\n            \"      , case                               \" +\n            \"          when match_column_name in ('Bo_Code', 'ILoan_code', 'Loan_code') then ' '       \" +\n            \"          when match_column_name = 'Name' then concat('and first_name = ''',first_name,''' and last_name =  \"  +\n            \"            ''',last_name,'''')            \" +\n            \"        when match_column_name = 'SSN' then concat('and ssn= ''',match_column_value,'''') \" +\n            \"        else ' '                          \" +                                   \n            \"       end and_clause                      \" +    \n            \"      , case                                   \" +\n            \"           when loan_type is null then ' '   \" +\n            \"           else concat('where loan_type = ''',loan_type,'''')  \" +\n            \"        end where_clause                   \" +  \n            \"      , hunt_id                            \" +\n            \"      , loan_type                          \" +\n            \"   from (                                  \" +\n            \"          select distinct t.system         \" +         \n            \"               , t.code                    \" + \n            \"               , substr(t.match_col,1,instr(match_col,':')-1) match_column_name    \" +\n            \"               , substr(t.match_col,instr(match_col,':')+2, length(match_col)-(instr(match_col,':'))) match_column_value \" +\n            \"               , match_col                 \" +\n            \"               , case                      \" + \n            \"                  when match_col like ('Name:%')  then r.last_name  \" +\n            \"                  else null                \" +\n            \"                end  last_name             \" +\n            \"               , case                      \" +\n            \"                   when match_col like ('Name:%')  then r.first_name \" +\n            \"                   else null               \" +\n            \"                  end  first_name          \" +\n            \"               , t.id_field                \" +\n            \"               , t.hunt_id                 \" + \n            \"               , r.loan_type               \" +\n            \"            from datateam.hunt_kill_temp t \" + \n      \"   inner join hunt_kill_request r                \" +\n            \"     on t.hunt_id = r.id                   \" +\n            \"        where t.system like 'Stars%'       \" + \n            \"          and r.result = 'hunted'          \" + \n            \"        ) test                             \" +\n            \"  order by id_field  ;                     \" ;\n  \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1080,"wires":[["4eb5602a.e8b74"]]},{"id":"4eb5602a.e8b74","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Bring back condensed result set.","x":970,"y":1080,"wires":[["8df0cc9c.baca78"]]},{"id":"e4039e99.955718","type":"switch","z":"817fc902.52e95","name":"Get Customer or Loan","property":"payload.id_field","propertyType":"msg","rules":[{"t":"eq","v":"bo_code","vt":"str"},{"t":"eq","v":"loan_code","vt":"str"},{"t":"eq","v":"iloan_code","vt":"str"}],"checkall":"true","repair":true,"outputs":3,"x":740,"y":1180,"wires":[["a1ddbaf6.18bc98"],["2f82218.beb1dde"],["2f82218.beb1dde"]]},{"id":"55cf3d1.5fb5ec4","type":"function","z":"817fc902.52e95","name":"build query to set status = hunted","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Hunted'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":840,"wires":[["42fffce9.ef6774"]]},{"id":"4286acc3.1b408c","type":"comment","z":"817fc902.52e95","name":"Set status = hunting","info":"","x":830,"y":300,"wires":[]},{"id":"23626a61.79e726","type":"comment","z":"817fc902.52e95","name":"Set status = hunted","info":"","x":1370,"y":780,"wires":[]},{"id":"42fffce9.ef6774","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Hunted\"","x":1160,"y":840,"wires":[["2a42805e.228e78"]]},{"id":"2b10d9d3.933116","type":"function","z":"817fc902.52e95","name":"build query to set status = Done","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Done'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":1460,"wires":[["54d65799.f94e08"]]},{"id":"54d65799.f94e08","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Done\"","x":1080,"y":1460,"wires":[[]]},{"id":"395aff9c.f03a","type":"join","z":"817fc902.52e95","name":"Join  Process as a single flow.","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":180,"y":840,"wires":[["7eac459e.94c524"]]},{"id":"bcfc61a.ce1a3a","type":"join","z":"817fc902.52e95","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1460,"wires":[["2b10d9d3.933116"]]},{"id":"977690cd.96aed","type":"comment","z":"817fc902.52e95","name":"Set final status to Done","info":"","x":1300,"y":1380,"wires":[]},{"id":"7eac459e.94c524","type":"change","z":"817fc902.52e95","name":"delete payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":840,"wires":[["55cf3d1.5fb5ec4"]]},{"id":"2a42805e.228e78","type":"change","z":"817fc902.52e95","name":"delete payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":1080,"wires":[["7aa6bedb.d975a8"]]},{"id":"a1ddbaf6.18bc98","type":"link out","z":"817fc902.52e95","name":"Link to customer based flow","links":["9dc93168.c81ea8"],"x":955,"y":1140,"wires":[]},{"id":"2f82218.beb1dde","type":"link out","z":"817fc902.52e95","name":"link to loan based flow","links":["f85e3783.99d6f","d6fc0fc8.417f48"],"x":955,"y":1300,"wires":[]},{"id":"f85e3783.99d6f","type":"link in","z":"62a5374.81295c8","name":"","links":["2f82218.beb1dde"],"x":135,"y":200,"wires":[["1cd9be5.e570cc2"]]},{"id":"8aa46908.8a622","type":"oracledb","z":"62a5374.81295c8","name":"Execute Oracle final hunt query","usequery":false,"query":"","usemappings":true,"mappings":"","server":"835a7076.ebb87","resultaction":"single","resultlimit":"1000","x":280,"y":420,"wires":[["37e032f3.86e656"]]},{"id":"1ed5e9ab.29d796","type":"comment","z":"62a5374.81295c8","name":"Query Stars Data","info":"This next segment queries either customer master or loan master tables.\n","x":910,"y":380,"wires":[]},{"id":"37e032f3.86e656","type":"split","z":"62a5374.81295c8","name":"Split send each oracle Row back to results","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":440,"wires":[["b3a405ac.797e7"]]},{"id":"d13d9883.f096","type":"link in","z":"817fc902.52e95","name":"Wind up processing","links":["89fbe7da.5213a8","a8925b2c.b90828","32f13017.f6aec8"],"x":375,"y":1460,"wires":[["bcfc61a.ce1a3a"]]},{"id":"b3a405ac.797e7","type":"switch","z":"62a5374.81295c8","name":"Don't try to write, if nothing came back","property":"payload.CUSTOMER_TABLE","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":440,"wires":[["a9cf6fe9.6e555"],["c51f1651.61129"]]},{"id":"c51f1651.61129","type":"switch","z":"62a5374.81295c8","name":"Check if no loan data returned","property":"payload.LOAN_TABLE","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":540,"wires":[["a9cf6fe9.6e555"],["a0422b79.81cca"]]},{"id":"a9cf6fe9.6e555","type":"function","z":"62a5374.81295c8","name":"write results to mysql hunt_kill_final_table","func":"msg.topic = \"Insert into datateam.hunt_kill_final \" +\n                               \"( bo_code         \" +\n                               \", last_name       \" +\n                               \", first_name      \" +\n                               \", ssn             \" + \n                               \", customer_table  \" +\n                               \", loan_code       \" +\n                               \", loan_Type       \" +\n                               \", loan_amt        \" +                                               \n                               \", loan_date       \" +\n                               \", loan_status_id  \" +\n                               \", loan_table      \" +                          \n                               \", hunt_id         \" +\n                               \", match_col       \" +\n                               \")  \" +\n                       \"values ( \" +  msg.payload.BO_CODE  +\n                       \"       ,'\" +  msg.payload.LAST_NAME +  \"' \"  +\n                       \"       ,'\" +  msg.payload.FIRST_NAME +  \"' \" + \n                       \"       ,'\" +  msg.payload.SSN + \"'\" +       \n                       \"       ,'\" +  msg.payload.CUSTOMER_TABLE  +\"'\" +\n                       \"       , \" +  msg.payload.LOAN_CODE  +    \n                       \"       ,'\" +  msg.payload.LOAN_TYPE +\"'\" +                        \n                       \"       , \" +  msg.payload.LOAN_AMT   +\n                       \"       ,'\" +  msg.payload.LOAN_DATE  + \"'\" +      \n                       \"       ,'\" +  msg.payload.LOAN_STATUS_ID  + \"'\" + \n                       \"       ,'\" +  msg.payload.LOAN_TABLE + \"'\" +    \n                       \"       , \" +  global.get(\"hunt_id\") +\n                       \"       ,'\" +  msg.payload.MATCH_COL + \"');\";\n return msg;\n return msg;","outputs":1,"noerr":0,"x":1600,"y":440,"wires":[["109c3e36.7bf562"]]},{"id":"109c3e36.7bf562","type":"mysql","z":"62a5374.81295c8","mydb":"21e11721.9d8a5","name":"Write results to hunt_kill_final","x":1620,"y":560,"wires":[["a0422b79.81cca"]]},{"id":"89fbe7da.5213a8","type":"link out","z":"62a5374.81295c8","name":"Wind up ","links":["d13d9883.f096","355af3dd.7abf5c"],"x":1955,"y":980,"wires":[]},{"id":"c7c70501.228f58","type":"oracledb","z":"817fc902.52e95","name":"Execute Oracle  hunt query","usequery":false,"query":"","usemappings":true,"mappings":"","server":"835a7076.ebb87","resultaction":"single","resultlimit":"1000","x":490,"y":560,"wires":[["84d7d4ca.af09b","4b7b1d7e.3ba0f4"]]},{"id":"a0422b79.81cca","type":"join","z":"62a5374.81295c8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":860,"wires":[["58e514cb.28c75c"]]},{"id":"371aa346.dcb7cc","type":"debug","z":"4d55fd22.159684","name":"Dump","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":330,"y":100,"wires":[]},{"id":"2791a5dc.3b3262","type":"catch","z":"4d55fd22.159684","name":"Error","scope":null,"x":130,"y":100,"wires":[["371aa346.dcb7cc"]]},{"id":"eb53fd4.8e5e38","type":"debug","z":"62a5374.81295c8","name":"Dump","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":390,"y":120,"wires":[]},{"id":"63e25aeb.19e704","type":"catch","z":"62a5374.81295c8","name":"Error","scope":null,"x":210,"y":120,"wires":[["eb53fd4.8e5e38"]]},{"id":"58e514cb.28c75c","type":"change","z":"62a5374.81295c8","name":"delete flow variables","rules":[{"t":"delete","p":"and_clause","pt":"flow"},{"t":"delete","p":"code","pt":"flow"},{"t":"delete","p":"hunt_id","pt":"flow"},{"t":"delete","p":"id_field","pt":"flow"},{"t":"delete","p":"loan_type","pt":"flow"},{"t":"delete","p":"match_column_name","pt":"flow"},{"t":"delete","p":"system","pt":"flow"},{"t":"delete","p":"where_clause","pt":"flow"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":880,"wires":[["89fbe7da.5213a8"]]},{"id":"f2baa7d1.eb5e5","type":"function","z":"62a5374.81295c8","name":"Set filename to get sql","func":"msg.filename  = \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\loan_final_hunt.sql\" ;\nmsg.payload = msg.query\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":200,"wires":[["a1a386f5.a76e2"]]},{"id":"a1a386f5.a76e2","type":"file","z":"62a5374.81295c8","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1330,"y":200,"wires":[[]]},{"id":"8e79e0b5.833fa8","type":"debug","z":"817fc902.52e95","name":"Dump Customer condensed results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1140,"y":1200,"wires":[]},{"id":"16b908c.a7a82f7","type":"debug","z":"817fc902.52e95","name":"Spit Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":1240,"wires":[]},{"id":"b9932850.5681e8","type":"comment","z":"817fc902.52e95","name":"Go get customer based data","info":"","x":1120,"y":1140,"wires":[]},{"id":"3346f706.c9e0a","type":"comment","z":"817fc902.52e95","name":"Go get loan based data","info":"","x":1100,"y":1300,"wires":[]},{"id":"4b7b1d7e.3ba0f4","type":"function","z":"817fc902.52e95","name":"Set filename","func":"msg.filename  =  \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\Oracle_hunt.sql\" ;\nmsg.payload = msg.query\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":540,"wires":[["3c9501f0.c127be"]]},{"id":"3c9501f0.c127be","type":"file","z":"817fc902.52e95","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1230,"y":540,"wires":[[]]},{"id":"7b4483a.768b27c","type":"debug","z":"817fc902.52e95","name":"Dump loan condensed results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":1240,"wires":[]},{"id":"ba98c5ff.982738","type":"split","z":"817fc902.52e95","name":"split:  Send each distinct row from temp","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":1180,"wires":[["e4039e99.955718"]]},{"id":"44a624a2.f3be6c","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Done Nothing Found\"","x":1000,"y":1380,"wires":[[]]},{"id":"99ec489.57591b8","type":"function","z":"817fc902.52e95","name":"build query to set status = Done Not Found","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Done Nothing Found'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":1380,"wires":[["44a624a2.f3be6c"]]},{"id":"8df0cc9c.baca78","type":"switch","z":"817fc902.52e95","name":"Check for output","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":true,"outputs":2,"x":120,"y":1180,"wires":[["ba98c5ff.982738"],["99ec489.57591b8"]]},{"id":"6175756c.1620fc","type":"switch","z":"817fc902.52e95","name":"Skip Empty Rows","property":"payload.ID_FIELD","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":720,"wires":[["b9a2817c.ed67c"],["395aff9c.f03a"]]},{"id":"b8df312.d5669d","type":"function","z":"817fc902.52e95","name":"Get the query using  Customer Data as input","func":"flow.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\Robot_hunt_stars_bo_master.sql\");\nmsg.filename = flow.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[["7239f809.496858"]]},{"id":"7239f809.496858","type":"file in","z":"817fc902.52e95","name":"read query","filename":"","format":"utf8","chunk":false,"sendError":true,"x":730,"y":80,"wires":[["4991f70b.919f88"]],"outputLabels":["query_"]},{"id":"4991f70b.919f88","type":"change","z":"817fc902.52e95","name":"Load BO_MAster query to global variable","rules":[{"t":"set","p":"bo_query","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[["e24800e0.ac75e8"]]},{"id":"e24800e0.ac75e8","type":"function","z":"817fc902.52e95","name":"Get the query using loan data as input","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\Robot_hunt_stars_loan_master.sql\");\nmsg.filename = global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["5fdc24d8.4fb92c"]]},{"id":"5fdc24d8.4fb92c","type":"file in","z":"817fc902.52e95","name":"read query","filename":"","format":"utf8","chunk":false,"sendError":true,"x":710,"y":160,"wires":[["55f75608.0178a8"]]},{"id":"55f75608.0178a8","type":"change","z":"817fc902.52e95","name":"Load Loan_MAster query to global variable","rules":[{"t":"set","p":"loan_query","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":160,"wires":[["15d26b72.a5d6bd"]]},{"id":"a33981c8.ab785","type":"comment","z":"817fc902.52e95","name":"Get queries to go against stars UAT BO_MASTER and LOAN_MASTER","info":"Go get the queries to run against the Bo master and the loan master.  \nSave these as global variables for later use.","x":1500,"y":60,"wires":[]},{"id":"d7ed99d8.1910e8","type":"string","z":"4d55fd22.159684","name":"String_Substitute","methods":[{"name":"replaceAll","params":[{"type":"str","value":"$bocode"},{"type":"msg","value":"payload.code"}]},{"name":"replaceAll","params":[{"type":"str","value":"$and"},{"type":"msg","value":"payload.and_clause"}]},{"name":"replaceAll","params":[{"type":"str","value":"$loantype"},{"type":"msg","value":"payload.loantype"}]},{"name":"replaceAll","params":[{"type":"str","value":"$where"},{"type":"msg","value":"payload.where_clause"}]},{"name":"replaceAll","params":[{"type":"str","value":"$match"},{"type":"msg","value":"payload.match_column_name"}]},{"name":"replaceAll","params":[{"type":"str","value":"$loan"},{"type":"msg","value":"payload.code"}]}],"prop":"bo_query","propout":"query","object":"global","objectout":"msg","x":340,"y":180,"wires":[["8f9a5f35.ac22b"]]},{"id":"bbaee242.8f602","type":"oracledb","z":"4d55fd22.159684","name":"Execute Oracle final hunt query","usequery":false,"query":"","usemappings":true,"mappings":"","server":"835a7076.ebb87","resultaction":"single","resultlimit":"1000","x":190,"y":300,"wires":[["18b3fc56.7b48a4"]]},{"id":"e0655a54.0a354","type":"function","z":"4d55fd22.159684","name":"Set filename","func":"msg.filename  =  \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\cust_final_hunt.sql\" ;\nmsg.payload = msg.query\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":180,"wires":[["4056664f.8177e8"]]},{"id":"18b3fc56.7b48a4","type":"split","z":"4d55fd22.159684","name":"Split send each oracle Row back to results","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":560,"y":300,"wires":[["8250b38f.7190c8"]]},{"id":"4056664f.8177e8","type":"file","z":"4d55fd22.159684","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1110,"y":180,"wires":[[]]},{"id":"9dc93168.c81ea8","type":"link in","z":"4d55fd22.159684","name":"","links":["a1ddbaf6.18bc98"],"x":55,"y":180,"wires":[["d7ed99d8.1910e8"]]},{"id":"8250b38f.7190c8","type":"switch","z":"4d55fd22.159684","name":"Don't try to write, if nothing came back","property":"payload.CUSTOMER_TABLE","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":300,"wires":[["dd9e2c37.0eb4d8"],["ec245a6e.74e688"]]},{"id":"dd9e2c37.0eb4d8","type":"function","z":"4d55fd22.159684","name":"write results to mysql hunt_kill_final_table","func":"msg.topic = \"Insert into datateam.hunt_kill_final \" +\n                               \"( bo_code         \" +\n                               \", last_name       \" +\n                               \", first_name      \" +\n                               \", ssn             \" + \n                               \", customer_table  \" +\n                               \", loan_code       \" +\n                               \", loan_Type       \" +\n                               \", loan_amt        \" +                                               \n                               \", loan_date       \" +\n                               \", loan_status_id  \" +\n                               \", loan_table      \" +                          \n                               \", hunt_id         \" +\n                               \", match_col       \" +\n                               \")  \" +\n                       \"values ( \" +  msg.payload.BO_CODE  +\n                       \"       ,'\" +  msg.payload.LAST_NAME +  \"' \"  +\n                       \"       ,'\" +  msg.payload.FIRST_NAME +  \"' \" + \n                       \"       ,'\" +  msg.payload.SSN + \"'\" +       \n                       \"       ,'\" +  msg.payload.CUSTOMER_TABLE  +\"'\" +\n                       \"       , \" +  msg.payload.LOAN_CODE  +    \n                       \"       ,'\" +  msg.payload.LOAN_TYPE +\"'\" +                        \n                       \"       , \" +  msg.payload.LOAN_AMT   +\n                       \"       ,'\" +  msg.payload.LOAN_DATE  + \"'\" +      \n                       \"       ,'\" +  msg.payload.LOAN_STATUS_ID  + \"'\" + \n                       \"       ,'\" +  msg.payload.LOAN_TABLE + \"'\" +    \n                       \"       , \" +  global.get(\"hunt_id\") +\n                       \"       ,'\" +  msg.payload.MATCH_COL + \"');\";\n return msg;","outputs":1,"noerr":0,"x":1680,"y":280,"wires":[["4cdf769c.0cd67"]]},{"id":"ec245a6e.74e688","type":"switch","z":"4d55fd22.159684","name":"Check if no loan data returned","property":"payload.LOAN_TABLE","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":380,"wires":[["dd9e2c37.0eb4d8"],["b0e3d3f6.aead58"]]},{"id":"4cdf769c.0cd67","type":"mysql","z":"4d55fd22.159684","mydb":"21e11721.9d8a5","name":"Write results to hunt_kill_final","x":1640,"y":440,"wires":[["b0e3d3f6.aead58"]]},{"id":"b0e3d3f6.aead58","type":"join","z":"4d55fd22.159684","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":720,"wires":[["a8925b2c.b90828"]]},{"id":"a8925b2c.b90828","type":"link out","z":"4d55fd22.159684","name":"join msgs back","links":["d13d9883.f096","355af3dd.7abf5c"],"x":1535,"y":720,"wires":[]},{"id":"8f9a5f35.ac22b","type":"change","z":"4d55fd22.159684","name":"","rules":[{"t":"set","p":"match_column_name","pt":"flow","to":"payload.match_column_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":180,"wires":[["e0655a54.0a354","bbaee242.8f602"]]},{"id":"a870a048.91ef7","type":"change","z":"62a5374.81295c8","name":"","rules":[{"t":"set","p":"match_column_name","pt":"flow","to":"payload.match_column_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["f2baa7d1.eb5e5","8aa46908.8a622"]]},{"id":"bb278175.230d8","type":"comment","z":"4d55fd22.159684","name":"No results to post","info":"","x":980,"y":500,"wires":[]},{"id":"b5f1b479.d63618","type":"comment","z":"4d55fd22.159684","name":"Write results to Hunt_Kill_Final","info":"","x":1840,"y":380,"wires":[]},{"id":"f8cf36ef.40f0a8","type":"comment","z":"62a5374.81295c8","name":"Write results to Hunt_Kill_Final","info":"","x":1920,"y":540,"wires":[]},{"id":"13fa1c03.79bd44","type":"comment","z":"62a5374.81295c8","name":"No results to post","info":"","x":1180,"y":820,"wires":[]},{"id":"1cd9be5.e570cc2","type":"string","z":"62a5374.81295c8","name":"String_Substitute","methods":[{"name":"replaceAll","params":[{"type":"str","value":"$bocode"},{"type":"msg","value":"payload.code"}]},{"name":"replaceAll","params":[{"type":"str","value":"$and"},{"type":"msg","value":"payload.and_clause"}]},{"name":"replaceAll","params":[{"type":"str","value":"$loantype"},{"type":"msg","value":"payload.loan_type"}]},{"name":"replaceAll","params":[{"type":"str","value":"$where"},{"type":"msg","value":"payload.where_clause"}]},{"name":"replaceAll","params":[{"type":"str","value":"$match"},{"type":"msg","value":"payload.match_column_name"}]},{"name":"replaceAll","params":[{"type":"str","value":"$loan"},{"type":"msg","value":"payload.code"}]}],"prop":"loan_query","propout":"query","object":"global","objectout":"msg","x":380,"y":200,"wires":[["a870a048.91ef7"]]}]