flows_mfeeny-it.json
[{"id":"817fc902.52e95","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21e11721.9d8a5","type":"MySQLdatabase","z":"","host":"LocalHost","port":"3306","db":"datateam","tz":""},{"id":"835a7076.ebb87","type":"oracle-server","z":"","host":"far01-bduat01.axcess-financial.com","port":"1521","reconnect":false,"reconnecttimeout":"9999999000000","db":"starsuat"},{"id":"8fc9ae59.206138","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9f93c5a2.45e5","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Hunt_mike_DB","x":640,"y":240,"wires":[["fa5a4f8c.d133d8"]]},{"id":"15d26b72.a5d6bd","type":"function","z":"817fc902.52e95","name":"Get open Hunt requests","func":"msg.topic = \"    select r.id hunt_id \"    +\n            \"           , r.ssn \"         +\n            \"           , r.email \"       + \n            \"           , r.first_name \"  +\n            \"           , r.last_name  \"  +\n            \"           , r.bo_code    \"  + \n            \"           , r.loan_id    \"  +\n            \"           , q.db_id      \"  + \n            \"           , q.query_loc   \" + \n            \"           , q.db_connect  \" +        \n            \"        from datateam.hunt_kill_request r  \"    +\n            \"  inner join datateam.hunt_kill_query q    \"    + \n            \"               on r.db_id = q.db_id \"  +\n            \"            where r.result is null  \"  +  \n            \"            order by r.id ; \" \nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["9f93c5a2.45e5"]]},{"id":"4753f616.8737c8","type":"inject","z":"817fc902.52e95","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":120,"y":240,"wires":[["15d26b72.a5d6bd"]]},{"id":"fa5a4f8c.d133d8","type":"change","z":"817fc902.52e95","name":"Load_selection_variables","rules":[{"t":"set","p":"hunt_id","pt":"global","to":"payload[0].hunt_id","tot":"msg"},{"t":"set","p":"ssn","pt":"global","to":"payload[0].ssn","tot":"msg"},{"t":"set","p":"email","pt":"global","to":"payload[0].email","tot":"msg"},{"t":"set","p":"first_name","pt":"global","to":"payload[0].first_name","tot":"msg"},{"t":"set","p":"last_name","pt":"global","to":"payload[0].last_name","tot":"msg"},{"t":"set","p":"bo_code","pt":"global","to":"payload[0].bo_code","tot":"msg"},{"t":"set","p":"loan_id","pt":"global","to":"payload[0].loan_id","tot":"msg"},{"t":"set","p":"db_id","pt":"global","to":"payload[0].db_id","tot":"msg"},{"t":"set","p":"query_loc","pt":"global","to":"payload[0].query_loc","tot":"msg"},{"t":"set","p":"db_connect","pt":"global","to":"payload[0].db_connect","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":240,"wires":[["775c8775.d4ebe"]]},{"id":"c9e1e0a7.3a4dc","type":"function","z":"817fc902.52e95","name":"Set filename to get sql","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\\" + global.get(\"query_loc\"));\nmsg.filename = global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":520,"wires":[["9a656aac.d92b1"]]},{"id":"9a656aac.d92b1","type":"file in","z":"817fc902.52e95","name":"read query","filename":"","format":"utf8","chunk":false,"sendError":true,"x":350,"y":520,"wires":[["1e6d5aaa.ce410d"]]},{"id":"1e6d5aaa.ce410d","type":"string","z":"817fc902.52e95","name":"String_Substitute","methods":[{"name":"replaceAll","params":[{"type":"str","value":"$loanid"},{"type":"global","value":"loan_id"}]},{"name":"replaceAll","params":[{"type":"str","value":"$ssn"},{"type":"global","value":"ssn"}]},{"name":"replaceAll","params":[{"type":"str","value":"$bocode"},{"type":"global","value":"bo_code"}]},{"name":"replaceAll","params":[{"type":"str","value":"$firstname"},{"type":"global","value":"first_name"}]},{"name":"replaceAll","params":[{"type":"str","value":"$lastname"},{"type":"global","value":"last_name"}]},{"name":"replaceAll","params":[{"type":"str","value":"$email"},{"type":"global","value":"email"}]}],"prop":"payload","propout":"query","object":"msg","objectout":"global","x":620,"y":520,"wires":[["eef01886.084ee"]]},{"id":"eef01886.084ee","type":"function","z":"817fc902.52e95","name":"Set message","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\\" + global.get(\"query_loc\")+\".new\");\nmsg.filename = global.get(\"filename\")\nmsg.payload = global.get(\"query\")\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":640,"wires":[["39cfb902.ba94ee"]]},{"id":"39cfb902.ba94ee","type":"file","z":"817fc902.52e95","name":"Write New Query","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":350,"y":640,"wires":[["87e54f14.0835e"]]},{"id":"87e54f14.0835e","type":"function","z":"817fc902.52e95","name":"load Query","func":"msg.query = global.get(\"query\")\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":740,"wires":[["c5591ee2.0b505"]]},{"id":"cf5e87dd.98f0e8","type":"catch","z":"817fc902.52e95","name":"Error","scope":null,"x":90,"y":80,"wires":[["e09738b8.6085f8"]]},{"id":"e09738b8.6085f8","type":"debug","z":"817fc902.52e95","name":"Dump","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":270,"y":140,"wires":[]},{"id":"e5f97dae.693ee","type":"comment","z":"817fc902.52e95","name":"Read open hunt request","info":"Go to MYSQL and read athe first open hunt request.\nResult = Done","x":630,"y":200,"wires":[]},{"id":"6270b682.824d08","type":"comment","z":"817fc902.52e95","name":"Get the Hunt Query from the flat file in the home directory","info":"Get the proper hunt query and substitute the correct global variables into the query parameters.","x":250,"y":440,"wires":[]},{"id":"63f27746.e72ef","type":"comment","z":"817fc902.52e95","name":"Write out new hunt query with substituted variables.","info":"Write out new hunt query with substituted variables.\nThis is purely for debugging purposes.  ","x":670,"y":640,"wires":[]},{"id":"43bef63d.ea4e5","type":"comment","z":"817fc902.52e95","name":"Execute the Oracle Hunt Query","info":"","x":650,"y":740,"wires":[]},{"id":"c5591ee2.0b505","type":"oracledb","z":"817fc902.52e95","name":"Execute Oracle hunt query","usequery":false,"query":"","usemappings":true,"mappings":"","server":"835a7076.ebb87","resultaction":"single","resultlimit":"1000","x":340,"y":740,"wires":[["84d7d4ca.af09b"]]},{"id":"df16d8ba.9c2c7","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"save the intermediate results to Robot hunt_kill_temp","x":700,"y":860,"wires":[["395aff9c.f03a"]]},{"id":"acbb22f1.4923d","type":"debug","z":"817fc902.52e95","name":"query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":1510,"y":1640,"wires":[]},{"id":"b9a2817c.ed67c","type":"function","z":"817fc902.52e95","name":"Build the insert statement","func":"msg.topic = \"insert into hunt_kill_temp \" +\n\" ( Code, Id_Field,Name,Table_Name,System,Match_Col, hunt_id) \" +\n\"Values('\" + msg.payload.CODE +\n \"', '\" + msg.payload.ID_FIELD +\n \"', '\" + msg.payload.NAME   +\n \"', '\" + msg.payload.TABLE_NAME +\n \"', '\" + msg.payload.SYSTEM + \n \"', '\" + msg.payload.MATCH_COL +\n \"', '\" + global.get(\"hunt_id\") + \"');\";\n return msg;\n","outputs":1,"noerr":0,"x":350,"y":860,"wires":[["df16d8ba.9c2c7"]]},{"id":"84d7d4ca.af09b","type":"split","z":"817fc902.52e95","name":"send each row","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":120,"y":860,"wires":[["b9a2817c.ed67c"]]},{"id":"dea601a.307158","type":"comment","z":"817fc902.52e95","name":"Save the intermediate results","info":"","x":1060,"y":860,"wires":[]},{"id":"f14a4d65.36462","type":"comment","z":"817fc902.52e95","name":"Get The Final Results","info":"","x":1040,"y":1060,"wires":[]},{"id":"b950fa86.185b88","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Hunting\"","x":570,"y":360,"wires":[["c9e1e0a7.3a4dc"]]},{"id":"775c8775.d4ebe","type":"function","z":"817fc902.52e95","name":"build query to set status = hunting","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Hunting'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":360,"wires":[["b950fa86.185b88"]]},{"id":"7aa6bedb.d975a8","type":"function","z":"817fc902.52e95","name":"Build SQL to coalate temp rows into single requests","func":"msg.topic = \" select system                             \" +\n            \"      , code                               \" +\n            \"      , id_field                           \" +\n            \"      , match_column_name                  \" +\n            \"      , case                               \" +\n            \"          when match_column_name in ('Bo_Code', 'ILoan_code', 'Loan_code') then ' '       \" +\n            \"          when match_column_name = 'Name' then concat('and first_name = ''',first_name,''' and last_name =  \"  +\n            \"            ''',last_name,'''')            \" +\n            \"        when match_column_name = 'SSN' then concat('and ssn= ''',match_column_value,'''') \" +\n            \"        else ' '                          \" +                                   \n            \"       end and_clause                      \" +    \n            \"      , case                                   \" +\n            \"           when loan_type is null then ' '   \" +\n            \"           else concat('where loan_type = ''',loan_type,'''')  \" +\n            \"        end where_clause                   \" +  \n            \"      , hunt_id                            \" +\n            \"      , loan_type                          \" +\n            \"   from (                                  \" +\n            \"          select distinct t.system         \" +         \n            \"               , t.code                    \" + \n            \"               , substr(t.match_col,1,instr(match_col,':')-1) match_column_name    \" +\n            \"               , substr(t.match_col,instr(match_col,':')+2, length(match_col)-(instr(match_col,':'))) match_column_value \" +\n            \"               , match_col                 \" +\n            \"               , case                      \" + \n            \"                  when match_col like ('Name:%')  then r.last_name  \" +\n            \"                  else null                \" +\n            \"                end  last_name             \" +\n            \"               , case                      \" +\n            \"                   when match_col like ('Name:%')  then r.first_name \" +\n            \"                   else null               \" +\n            \"                  end  first_name          \" +\n            \"               , t.id_field                \" +\n            \"               , t.hunt_id                 \" + \n            \"               , r.loan_type               \" +\n            \"            from datateam.hunt_kill_temp t \" + \n      \"   inner join hunt_kill_request r                \" +\n            \"     on t.hunt_id = r.id                   \" +\n            \"        where t.system like 'Stars%'       \" + \n            \"          and r.result = 'hunted'          \" + \n            \"        ) test                             \" +\n            \"  order by id_field  ;                     \" ;\n  \nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1060,"wires":[["4eb5602a.e8b74"]]},{"id":"4eb5602a.e8b74","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Bring back condensed result set.","x":730,"y":1060,"wires":[["45b1e39e.1291d4"]]},{"id":"45b1e39e.1291d4","type":"split","z":"817fc902.52e95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":90,"y":1160,"wires":[["eecb0d34.a8c398"]]},{"id":"e4039e99.955718","type":"switch","z":"817fc902.52e95","name":"Get Customer or Loan","property":"id_field","propertyType":"flow","rules":[{"t":"eq","v":"bo_code","vt":"str"},{"t":"else"}],"checkall":"true","repair":true,"outputs":2,"x":560,"y":1160,"wires":[["d86e147.1a090e8"],["b7e59dfd.c9c9f"]]},{"id":"d86e147.1a090e8","type":"function","z":"817fc902.52e95","name":"Get the query using  Customer Data as input","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\Robot_hunt_stars_bo_master.sql\");\nmsg.filename = global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1240,"wires":[["4f7f69dc.6c491"]]},{"id":"b7e59dfd.c9c9f","type":"function","z":"817fc902.52e95","name":"Get the query using loan data as input","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\Robot_hunt_stars_loan_master.sql\");\nmsg.filename = global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1240,"wires":[["78b0ec9b.594cac"]]},{"id":"55cf3d1.5fb5ec4","type":"function","z":"817fc902.52e95","name":"build query to set status = hunted","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Hunted'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":940,"wires":[["42fffce9.ef6774"]]},{"id":"4286acc3.1b408c","type":"comment","z":"817fc902.52e95","name":"Set status = hunting","info":"","x":850,"y":360,"wires":[]},{"id":"23626a61.79e726","type":"comment","z":"817fc902.52e95","name":"Set status = hunted","info":"","x":1070,"y":960,"wires":[]},{"id":"42fffce9.ef6774","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Hunted\"","x":750,"y":940,"wires":[["7aa6bedb.d975a8"]]},{"id":"4f7f69dc.6c491","type":"file in","z":"817fc902.52e95","name":"read query","filename":"","format":"utf8","chunk":false,"sendError":true,"x":1150,"y":1320,"wires":[["189bd546.70b1a3"]]},{"id":"78b0ec9b.594cac","type":"file in","z":"817fc902.52e95","name":"read query","filename":"","format":"utf8","chunk":false,"sendError":true,"x":530,"y":1320,"wires":[["189bd546.70b1a3"]]},{"id":"189bd546.70b1a3","type":"string","z":"817fc902.52e95","name":"String_Substitute","methods":[{"name":"replaceAll","params":[{"type":"str","value":"$bocode"},{"type":"flow","value":"code"}]},{"name":"replaceAll","params":[{"type":"str","value":"$and"},{"type":"flow","value":"and_clause"}]},{"name":"replaceAll","params":[{"type":"str","value":"$loan"},{"type":"flow","value":"code"}]},{"name":"replaceAll","params":[{"type":"str","value":"$where"},{"type":"flow","value":"where_clause"}]}],"prop":"payload","propout":"query","object":"msg","objectout":"flow","x":840,"y":1440,"wires":[["c022c906.e003e8"]]},{"id":"eecb0d34.a8c398","type":"change","z":"817fc902.52e95","name":"Load_selection_variables","rules":[{"t":"set","p":"system","pt":"flow","to":"payload.system","tot":"msg"},{"t":"set","p":"code","pt":"flow","to":"payload.code","tot":"msg"},{"t":"set","p":"id_field","pt":"flow","to":"payload.id_field","tot":"msg"},{"t":"set","p":"hunt_id","pt":"flow","to":"payload.hunt_id","tot":"msg"},{"t":"set","p":"loan_type","pt":"flow","to":"payload.loan_type","tot":"msg"},{"t":"set","p":"match_column_name","pt":"flow","to":"payload.match_column_name","tot":"msg"},{"t":"set","p":"and_clause","pt":"flow","to":"payload.and_clause","tot":"msg"},{"t":"set","p":"where_clause","pt":"flow","to":"payload.where_clause","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1160,"wires":[["e4039e99.955718"]]},{"id":"31deae77.a8622a","type":"oracledb","z":"817fc902.52e95","name":"Execute Oracle final hunt query","usequery":false,"query":"","usemappings":true,"mappings":"","server":"835a7076.ebb87","resultaction":"multi","resultlimit":"1000","x":230,"y":1520,"wires":[["6faa6d41.cea6bc"]]},{"id":"c022c906.e003e8","type":"function","z":"817fc902.52e95","name":"load Query","func":"msg.query = flow.get(\"query\")\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1440,"wires":[["31deae77.a8622a"]]},{"id":"d2b6b5c4.e40e48","type":"comment","z":"817fc902.52e95","name":"Get Oracle final hunt data","info":"","x":1290,"y":1400,"wires":[]},{"id":"2341dcb4.d63bec","type":"function","z":"817fc902.52e95","name":"write results to mysql hunt_kill_final_table","func":"msg.topic = \"Insert into datateam.hunt_kill_final \" +\n                               \"( bo_code         \" +\n                               \", last_name       \" +\n                               \", first_name      \" +\n                               \", ssn             \" + \n                               \", customer_table  \" +\n                               \", loan_code       \" +\n                               \", loan_Type       \" +\n                               \", loan_amt        \" +                                               \n                               \", loan_date       \" +\n                               \", loan_status_id  \" +\n                               \", loan_table      \" +                          \n                               \", hunt_id         \" +\n                               \")  \" +\n                       \"values ( \" + flow.get(\"bo_code\")     +\n                       \"       ,'\" + flow.get(\"last_name\")   +\"'\"  +\n                       \"       ,'\" + flow.get(\"first_name\")  + \"'\" +\n                       \"       ,'\" + flow.get(\"ssn\") + \"'\" +       \n                       \"       ,'\" + flow.get(\"customer_table\") +\"'\" +\n                       \"       , \" + flow.get(\"loan_code\")  +    \n                       \"       ,'\" + flow.get(\"loan_type\")  +\"'\" +                        \n                       \"       , \" + flow.get(\"loan_amt\")   +\n                       \"       ,'\" + flow.get(\"loan_date\")  +\"'\" +      \n                       \"       ,'\" + flow.get(\"loan_status_id\")  + \"'\" + \n                       \"       ,'\" + flow.get(\"loan_table\") + \"'\" +    \n                       \"       , \" + global.get(\"hunt_id\")    + \");\";\n return msg;","outputs":1,"noerr":0,"x":1120,"y":1740,"wires":[["44447eda.d13f38","acbb22f1.4923d"]]},{"id":"44447eda.d13f38","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Write results to hunt_kill_final","x":1520,"y":1740,"wires":[["13535278.a4aea6"]]},{"id":"13535278.a4aea6","type":"join","z":"817fc902.52e95","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":1880,"wires":[["bcfc61a.ce1a3a"]]},{"id":"2b10d9d3.933116","type":"function","z":"817fc902.52e95","name":"build query to set status = Done","func":"msg.topic = \"  update  datateam.hunt_kill_request r \" +\n            \"      set r.result = 'Done'     \" +     \n            \"    where r.id =   \" + global.get(\"hunt_id\") + \";\" ;    \nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":1920,"wires":[["54d65799.f94e08"]]},{"id":"54d65799.f94e08","type":"mysql","z":"817fc902.52e95","mydb":"21e11721.9d8a5","name":"Set request status = \"Done\"","x":1280,"y":1920,"wires":[[]]},{"id":"c4493069.598dd8","type":"function","z":"817fc902.52e95","name":"Set message","func":"global.set(\"filename\", \"C:\\\\Users\\\\mfeeny\\\\GIT_Folder\\\\DM_Robot\\\\dm_robot\\\\HuntandKill\\\\\" + global.get(\"query_loc\")+\".fnl\");\nmsg.filename = global.get(\"filename\")\nmsg.payload = msg.query\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":2060,"wires":[["1f408882.78c677"]]},{"id":"1f408882.78c677","type":"file","z":"817fc902.52e95","name":"Write New Query","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1770,"y":2060,"wires":[[]]},{"id":"c6f3050c.50ed18","type":"debug","z":"817fc902.52e95","name":"dump hunt results_final hunt_MYSQL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":2460,"wires":[]},{"id":"793f7d57.2ea1fc","type":"change","z":"817fc902.52e95","name":"Load_selection_variables","rules":[{"t":"set","p":"bo_code","pt":"flow","to":"payload.bo_code","tot":"msg"},{"t":"set","p":"last_name","pt":"flow","to":"payload.last_name","tot":"msg"},{"t":"set","p":"first_name","pt":"flow","to":"payload.first_name","tot":"msg"},{"t":"set","p":"ssn","pt":"flow","to":"payload.ssn","tot":"msg"},{"t":"set","p":"customer_table","pt":"flow","to":"payload.customer_table","tot":"msg"},{"t":"set","p":"loan_code","pt":"flow","to":"payload.loan_code","tot":"msg"},{"t":"set","p":"loan_type","pt":"flow","to":"payload.loan_type","tot":"msg"},{"t":"set","p":"loan_amt","pt":"flow","to":"payload.loan_amt","tot":"msg"},{"t":"set","p":"loan_date","pt":"flow","to":"payload.loan_date","tot":"msg"},{"t":"set","p":"loan_status_id","pt":"flow","to":"payload.loan_status_id","tot":"msg"},{"t":"set","p":"loan_table","pt":"flow","to":"payload.loan_table","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1740,"wires":[["2341dcb4.d63bec"]]},{"id":"395aff9c.f03a","type":"join","z":"817fc902.52e95","name":"Join  Process as a single flow.","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":120,"y":940,"wires":[["55cf3d1.5fb5ec4"]]},{"id":"740b4839.dfda1","type":"comment","z":"817fc902.52e95","name":"Query Stars Data","info":"This next segment queries either customer master or loan master tables.\n","x":1020,"y":1160,"wires":[]},{"id":"ba454398.8e956","type":"switch","z":"817fc902.52e95","name":"Don't try to write, if nothing came back","property":"customer_table","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1720,"wires":[["793f7d57.2ea1fc"],["718ebf21.3724b"]]},{"id":"718ebf21.3724b","type":"switch","z":"817fc902.52e95","name":"Check if no loan data returned","property":"loan_table","propertyType":"flow","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":1780,"wires":[["793f7d57.2ea1fc"],["13535278.a4aea6"]]},{"id":"6c19df27.7ae12","type":"comment","z":"817fc902.52e95","name":"Deal with rows containing no data","info":"This next segment queries either customer master or loan master tables.\n","x":210,"y":1620,"wires":[]},{"id":"dbfc9d16.3d3b7","type":"change","z":"817fc902.52e95","name":"Load_final_results","rules":[{"t":"set","p":"bo_code","pt":"flow","to":"payload.bo_code","tot":"msg"},{"t":"set","p":"last_name","pt":"flow","to":"payload.last_name","tot":"msg"},{"t":"set","p":"first_name","pt":"flow","to":"payload.first_name","tot":"msg"},{"t":"set","p":"ssn","pt":"flow","to":"payload.ssn","tot":"msg"},{"t":"set","p":"customer_table","pt":"flow","to":"payload.customer_table","tot":"msg"},{"t":"set","p":"loan_code","pt":"flow","to":"payload.loan_code","tot":"msg"},{"t":"set","p":"loan_type","pt":"flow","to":"payload.loan_type","tot":"msg"},{"t":"set","p":"loan_date","pt":"flow","to":"payload.loan_date","tot":"msg"},{"t":"set","p":"loan_status_id","pt":"flow","to":"payload.loan_status_id","tot":"msg"},{"t":"set","p":"loan_table","pt":"flow","to":"payload.loan_table","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":1520,"wires":[["ba454398.8e956","dfa47a00.5d69d"]]},{"id":"17256299.bf5455","type":"debug","z":"817fc902.52e95","name":"dump hunt results_final hunt_Oracle_results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":2520,"wires":[]},{"id":"6faa6d41.cea6bc","type":"split","z":"817fc902.52e95","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":1520,"wires":[["dbfc9d16.3d3b7"]]},{"id":"8f4bf118.3217c","type":"comment","z":"817fc902.52e95","name":"Write out resutls to hunt_kill_final","info":"Write out resutls to hunt_kill_final","x":850,"y":1660,"wires":[]},{"id":"bcfc61a.ce1a3a","type":"join","z":"817fc902.52e95","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":1920,"wires":[["2b10d9d3.933116"]]},{"id":"977690cd.96aed","type":"comment","z":"817fc902.52e95","name":"Set final status to Done","info":"","x":900,"y":1880,"wires":[]},{"id":"dfa47a00.5d69d","type":"debug","z":"817fc902.52e95","name":"load_final_results","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":1520,"wires":[]}]